@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,700;1,700&family=Lexend:wght@400;500;700&display=swap');

body {
    background-color: 99cc00;
    color: #000000;
    font-family: 'Lexend', sans-serif;
    /*    Ensure family and size are set in Body */
    /*    Arial is my default font, Helvetica is my fallback font. Both are sans-serif. */
    font-size: 16px;
    /*    This is the default font size and applies to the whole page. When I begin responsive css, I will adjust elements based on this font size I have set above in the Body */
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;
    margin-bottom: 20px;
}

h1 {


    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 8px 0;
    letter-spacing: 1px;
    color: black;

}

h3 {
    font-size: 18px;
}

p {

    font-size: 18px;
    line-height: normal;
    margin-bottom: 10px;
    /*    When I  added my reset file in, I lost the space between the paragraphs, so margin-bottom restores this. */
}

/* Anchor Styles */

a {
    color: white;

    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

a:visited {
    color: blueviolet;

}

a:active {
    color: yellow;
    /*    Particularly good for mobile devices, only displays momentarily  */
}

/* Main Containers */

.wrapper {
    width: 1500px;
    /*    TOP RIGHT BOTTOM LEFT*/
    margin: 20px auto 0px auto;
}

header {

    padding: 20px;
}



nav {

    border: 5px solid: red;
}

nav ul {
    float: right;
    margin-bottom: auto;
}

nav ul li {
    display: inline;
    margin-right: 7px;

}

nav ul li a {
    color: black;
    text-decoration: none;

    padding: 8px 13px;
}

nav ul li a:hover,
nav ul li a.currentpage {
    background-color: #6bb5d6;
    text-decoration: none;
    /*    over-rides css inheritance from previous underlined coding */
    color: white;
}

.hero {
    min-height: 350px;
    background-image: url(../images/churchill-house-13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #F5F5F5;
}

main {

    padding: 10px;
    overflow: auto;
}

.text-container {
    width: 60%;
}

footer {

    padding: 15px;
    /*    display: none;*/
    background-color: #F5F5F5;
    border-top: 1px solid #D6D6D6;
}

footer p {
    font-size: 75%;
}

.leftimg {
    /*    dot . because its a class */
    width: 40%;
    float: inherit;
    border: 1px solid grey;
    padding: 20px;
    background-color: white;
    margin: 0 80px;

}
