body {
    background-color: 99cc00;
    color: #ffffff;
}

header {
    background-color: antiquewhite;
}

nav {
    background-color: aqua;
}

main {
    background-color: blueviolet;
}

footer {
    background-color: beige;
}
